/home/tnxl/target/location_0
/home/tnxl/newtarget/newlocation_1
/home/tnxl/target/location_2
/home/tnxl/target/location_3
/home/tnxl/target/location_4
/home/tnxl/newtarget/newlocation_2
/home/tnxl/target/location_6
/home/tnxl/target/location_7
/home/tnxl/target/location_8
/home/tnxl/newtarget/newlocation_3
/home/tnxl/target/location_10
/home/tnxl/target/location_11
/home/tnxl/target/location_12
/home/tnxl/newtarget/newlocation_4
